%section#promo.section
  .map
    = headermap 200
%section.section
  .container
    .row-fluid
      .span9
        %article.blog-post
          %header.blog-header
            %h2
              %i.icon-question-sign
              About
              %small 
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#qOne"}
                  %strong 1. Why ?
              #qOne.accordion-body.collapse
                .accordion-inner
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#qTwo"}
                  %strong 2. How ?
              #qTwo.accordion-body.collapse
                .accordion-inner
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#qThree"}
                  %strong 3. I found a bug, what to do ?
              #qThree.accordion-body.collapse
                .accordion-inner
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#qFour"}
                  %strong 4. Why do I keep asking?
              #qFour.accordion-body.collapse
                .accordion-inner
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      %aside.span3.sidebar
        .sidebar-widget
          %h2.sidebar-header
            %i.icon-envelope
            Contact
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          %a.btn.btn-primary{:href => "mailto:team@shanghai-tech.com"}
            %i.icon-envelope
            &nbsp;
            Send email
= content_for :scripts do
  <script type="text/javascript" charset="utf-8">
  Gmaps.map.callback = function() {
  mapInit();
  }
  </script>