/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require theme
 *= require fonts.min
 *= require chosen.css
 *= require gmaps4rails
 *= require bootstrap-wysihtml5
 *= require_tree .
 */

@media (min-width: 767px) {
    .forgot{
      margin-left:160px;
      margin-top:-30px;
    }
}


.jobs
{
    border-bottom: 1px solid #EEE;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left:0px;

    a .comp
    {
      font-size: 14px;
      font-weight: normal;
      color: black;
      text-shadow: 1px 1px 1px white;
      margin-top: 1px;
    }
}
.users, .user_sessions{
  .off{
    margin-top:50px;
  }
}
.dropdown-menu{
  border-radius: 3px !important;
}

.navbar .dropdown-menu:before, .navbar .dropdown-menu:after {
  // FIXME : ca marche pas...
  //border-bottom-color: rgba(85, 85, 85, 0.45) !important;
  //border-bottom: #A8A8A8 !important;
}
@media all and (-webkit-min-device-pixel-ratio : 1.5) {
  #masthead .brand {
  background-image: url(image_path('logo_beta@2x.png')) !important;
  }
}

#masthead .brand {
    background-image: url(image_path('logo_beta.png'));
    background-repeat: no-repeat;
    width:169px;
    height:43px;
    background-size: 169px 43px;
    margin-top:17px;
    margin-left:15px;
    padding:0 !important;
    span{
      display:none;
    }
}
.icons li{
  line-height:30px;
}
.icons li.weibo:before,.icons li.twitter:before,.icons li.website:before{
  content: "\0000a0\0000a0\0000a0\0000a0";
}
.icons li.weibo{
  list-style-image: url(image_path('icon-weibo.png')) !important;
  margin-left:-3px;

}
.icons li.twitter{
  list-style-image: url(image_path('icon-twitter.png')) !important;
  margin-left:-3px;
}
.icons li.website{
  list-style-image: url(image_path('icon-website.png')) !important;
  margin-left:-3px;
}
.icons li .link{
  margin-top:-2px; 
}

.amp {
    font-family: Palatino, 'Book Antiqua', 'Goudy Old Style',Baskerville,  serif;
    font-style: italic;
    font-weight: normal;
}

/* You could instead use ".flexible" and give class="flexible" only to 
   images you want to have this property */
img { 
  max-width: 100%;
}

// used in theme.css
//#masthead .brand {
//  padding: 15px 20px 18px;
//} 


   section#intro{
      text-align:center;

      h1{
        font-size:1.4em;
      }
      h1.welcome{
        font-weight:300;
        line-height:1.15em;
        //text-transform: none;
      }
      h1.new
      {
          font-weight:600;
          margin-top:10px;
          .btn{
            margin-top:-5px;
            margin-left:10px;
          }
      }
    }

 .people, .companies{
    #person_description, #company_description{
      width:300px;
      height:150px;
    }
    .box blockquote{
      font-size:0.8em;
      text-align:left;
      margin-right:10px;
    }

  }

.user_sessions,.users{
  
    .form-actions
      {
        background: none !important;
        border:none;
        padding-top:0px;
     
     }
    .loginbox{
      background: image-url('lghtmesh.png');
      padding-top:20px;
      padding-left:10px;
      border:0px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      -khtml-border-radius: 20px;
      border-radius: 20px;    

    }
    .register{
      color:white;
      i{
        color:white;
      }
    }
}

.secondary-nav{
  float: right;
  margin-left: 10px;
  margin-right: 0;
}

.thumbnail-filters i{
  color:#41B7D8;
}
.thumbnail-filters small{
  color:#6F6F6F;
}
#promo #icon
{
  margin-top:30px;
  font-size:150px;
  
  text-shadow: black 10px 10px 20px; 

  filter: alpha(opacity=30); /* internet explorer */
  -khtml-opacity: 0.3;      /* khtml, old safari */
  -moz-opacity: 0.3;       /* mozilla, netscape */
  opacity: 0.3;           /* fx, safari, opera */

  line-height: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

}
#promo #icon:hover{
  text-shadow: black 10px 10px 40px; 
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
}

// common to people/companies/events show pages (but not homepage and others)
.people.show, .companies.show, .events.show {
 	.thumbnail-show{
    width:270px;
    height:270px;
    margin: 5px 20px 24px 0px;
    float:left;
    position: relative;
    background: #333333;
	}
  .page-header{
    padding-bottom: 0px;
    margin: 5px 0;
  }

  .section#main {
      padding: 0px 20px;
  }
  h3.title{
    margin-top:0px;
    margin-bottom:10px;
    font-weight:lighter;
  }  
  h1.name{
    line-height:35px;
    margin-bottom:10px;
  }
  h1.skills{
    margin-top:-10px;
  } 
  p.bio{
    margin-top:10px;
    text-align:justify;
  }
}

.people {
  .thumbnail-title {
    top: 65%;
    margin-top: 0px;
  }
}

.companies, .events, .people, .jobs
{ 
  #main form
  {
    input, textarea, select
    {
      // default
      width:350px;
    }
    #person_twitter,#person_weibo,#company_twitter,#company_weibo,#event_twitter,#event_weibo{
      width:310px !important;
    }
    #person_website,#company_website,#event_website,#job_website{
      width:280px !important;
    }    
    #job_email{
      width:340px !important;
    }        
    textarea{
      height:200px;
    }
    textarea#job_short_description, textarea#person_question1,textarea#person_question2,textarea#person_question3,textarea#person_question4{
        height:80px;
    }
    textarea#job_long_description{
      width:500px !important;
      height:400px !important;
    }
  }


  .thumbnail-title {
    position: absolute;
    top: 60%;
    margin-top: 0px;
  }

  ul.people{
  list-style-type: none;
  margin-left:0px;
    li{
      float:left;
      display:inline;
      margin: 5px 5px 5px 5px;
    }
  }

  .thumbnail-filters{
  // index pages filters rewritten as ordered list
    ul{
      font-size:1.05em;
      color: #6F6F6F;
      list-style-type: none;
      margin-left:0px;
      display:inline;
      
    }
    li{

      display:inline;
      //margin: 5px 5px 5px 5px;      
    }
    li:after{
      content: ' / ';
    }
    li.last:after{
      content: '' !important;
    }    
  }

}


.thumbnail-figure #new .thumbnail-title {
  position: absolute;
  top: 50%;
  margin-top: 0px;
}

 #footer {
 	.middle{
 		//padding-right:50px;
 	}
 	.right{
 		// padding-right:20px;
    margin-right:10px;
 	}
 	.about{
	 	text-align:justify;
	 	.brand{
	  	font-weight: 700;
	 	}
	 	strong{
	 	font-weight: 700;	
	 	}
 	}
  .info{
    font-size:0.8em;
    color:#CCC;
    }
  .version{
    font-size:0.6em;
    color:#AAA;
    }
 }



.alert{
  overflow: hidden;
  z-index: 9999;
  width: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(161,195,0);
  background-color: rgba(161,195,0,.8);
  height: 0;
  color: #fff;
  padding: 9px 0;
  text-shadow: rgba(99,130,0,.75) 1px 1px 1px;
  font-size: 21px;

  .warning{
    background-color: #800;
    }
  #close_link{
    font-size: 16px;
  }
}


// phone
@media (max-width: 480px) {
    .hidden-480 {
      display:none !important;
    }
    h1,h3{
      line-height:18px !important;
    }  
    #intro{
      padding-top:10px;
      padding-bottom:10px;
      text-align:justify !important;
    }
    #intro,#intro .btn{
        font-size:0.7em !important;
        margin-top:-20px;        
    }
    #gmaps4rails_map {
      height: 200px;
    }
    section#main{
      h1{
        font-size:1.3em !important;
      } 
      h2{
        font-size:1.05em;
      }
      h3{
        font-size:0.85em;
      }        
    }
 }
// tablet 
@media (max-width: 767px) {

    #gmaps4rails_map {
      height: 280px;
    }
    #intro{
      text-align:justify !important;
    }
    a.add{
        font-size:12px !important;
    }
    section#main{
    .description {
      margin-left: 0px !important;
    }      
      h1{
        font-size:1.5em;
      }
      h2{
        font-size:1.2em;
        line-height:30px;
      }
      h3{
        font-size:1.1em;
      }
      h1 small, h2 small{
        display:block;
      }
      .viewall{
        content:" ";  
        clear:both;
        line-height:25px !important;
        padding-bottom:10px !important;
      }
      .thumbnails > li {
        width: 100%;
        clear: both !important;
        display: inline-block;
        border-bottom:none;
        
      }
      .thumbnail-figure {
        width:100%;
        background:none;
        text-align:justify;
        :hover{
          background:#CCC;
        }
        img {
          display:none !important;
        }
        .thumbnail-title{
            text-align:left;
            width: 100%;
            clear: both !important;
            display: inline-block;
            //padding-top:8px;
            span,small{
              color: #000000;
              text-shadow: 1px 1px 1px #EEE;              
              font-size:13px;
              background:none;
              display:inline;
              line-height:20px;
              clear:both;
            }

            h3:before{
              font-family: FontAwesome;
              font-weight: normal;
              font-style: normal;
              display: inline-block;
              text-decoration: inherit;
              padding-top:8px;
            }
            h3.people:before{
              content: '\f007';
            }
            h3.companies:before{
              content: '\f02e';
            }
            h3.events:before{
              content: '\f000';
            }
            h3.jobs:before{
              content: '\f016';
            }
            small
            {
              //float:none;

            }
        }
      }
  .thumbnail-filters{
  // index pages filters rewritten as ordered list
    ul{
      font-size:0.9em !important;
      color: #6F6F6F;
      list-style-type: none;
      margin-left:0px;
      display:inline;
    }
    li{
      width:50%;
      display:inline !important;
      //margin: 5px 5px 5px 5px;      
    }
    li:before{
      content: ' ';
    }
    li:after{
      content: '/  ' !important;
    }    
    li.last:after{
      content: '' !important;
    }        
  }

  } // section#main
}
@media (max-width: 800px) {
    .hidden-800 {
      display:none !important;
    }
    h2{
      font-size:1.0em !important;
    }
}

@media (max-width: 979px) {
  .hidden-980 {
    display:none !important;
  }  
  .viewall{
  font-size:12px !important;
  display:block;
  clear:both;
  }
  .pages #main h2{
    line-height:25px !important;
  }
}
// desktop
@media (min-width: 1100px) {
      #intro .container{
        max-width:80%;  
    }
    h1,h3{
      line-height:25px !important;
    }

}