// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  .pages.home
  {
 
    .gmaps4rails_map {
        width: 100%;
        height: 340px;
    }

  } 
.pages
{  
  .viewall{
    font-size:14px;
  }

  .jobs{
    margin-left:10px;
    margin-bottom:20px;
    margin-top:20px;
    .job:hover {
      
    }
    .job{
      border:1px solid #FFFFFF;
      margin-left:0px;
      //border-right:1px solid #000000;
      background:#FEFEFE;
      .image{
        margin-left:0px;
        margin-right:10px;
      }
      .title{
        margin-left:0px;
        margin-right:0px;
        h4{
          font-weight:400;
        }
        span.label{
          font-weight:300; 
          font-size:0.7em;
        }
      }
    }
  }
  .thumbnails
  {
    margin-top:20px;
  }
  .thumbnail-figure {
    margin: 0 0 0 0px;
  }
  .thumbnail-title {
    top:75%;
  }
  section#promo{
    padding:0px;
  }
  .map_container {
        padding: 0px;
        //margin-left:20px;
        border-width: 0px;
        border-style:none;
        border-color:none;
        width: 100%;
    }

  #map {
    //margin: -30px -20px;
    position: relative;
    z-index: 0;
    }
  #map img {
      max-width: none; }
  }

  .pages .home
  {
    .thumbnails > li{
      margin-left:10px;
    }
  img
  {
    border:none !important
  }
}